
.button{
    width: 618px;
    height: 80px;
    
    display: flex;
    flex-direction: row;
}
.download button{
    width: 290px;
    height: 80px;
    background-color: var(--red);
    color: var(--cream);
}
.Contac button{
    width: 290px;
    background-color: var(--pink);
    text-align: center;
    height: 80px;
    color: var(--cream);
}
.medio{
    width: 38px;
    height: 80px;
}