
.skills{
    width: 700px;
    height: 60px;
    margin: 20px 0 10px 0;
    background-color: var(--pink);
    color: var(--gree);
    display: flex;
    flex-direction: row;
}
.port{
    width: 349px;
    height: 80px;
    text-align: center
}
.ski{
    width: 349px ;
    height: 80px;
    text-align: center;
}