:root{
    --white:#ffff;
    --black:#0000;
    --light-pink:#FFC0DC;
    --sweet:#F19398;
    --pink-gr:#FF96C5;
    --sm:14px;
    --md:20px;
    --lg:60px;

}
body{
    background-color: var(--light-pink);
}
.cajaUnoo{
    display: grid;
    place-items: center; 
    color: var(--white);
    text-align:center;
    font-size: x-large;
    margin: 10px ; 
     
}
.caji{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.im img{
    height: 300px;
    width: 300px;
    border-radius: 192%;
    border: 50px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.iconuno-icon{
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cajaDoss{
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.button{
    width: 618px;
    height: 80px;
    background-color:var(--black);
    display: flex;
    flex-direction: row;
}
.download button{
    width: 290px;
    height: 80px;
    background-color: var(--sweet);
    color: var(--white);
}
.Contac button{
    width: 290px;
    background-color: var(--sweet);
    text-align: center;
    height: 80px;
    color: var(--white);
}
.medio{
    width: 38px;
    height: 80px;
}
.skills{
    width: 756px;
    height: 132px;
    margin: 40px 0 10px 0;
    background-color: #000000;
    color: var(--sweet);
    display: flex;
    flex-direction: row;
}
.port{
    width: 349px;
    height: 80px;
    text-align: center
}
.ski{
    width: 349px ;
    height: 80px;
    text-align: center;
}
.cajaCuatroo-imf{
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    width: 362px;
    height: 226px;
    border-radius: 15px;
}

.imf-img{
    height: 170px;
    width: 170px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

@media(max-width: 720px){
    .cajaUnoo{
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 10px 50px 10px;
    }
}